[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-bcrypt = "*"
boto3 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
